.data-row {
  height:60px;
  box-sizing:border-box;
  font-size:1.2rem;
  border-bottom:solid 1px rgba(0,0,0,0.4);
  padding: 0px 40px;
  box-sizing:border-box;
}
.data-row .column {
  height: 100%;
  padding: 0px;
  line-height: 60px;
}