
.table-column {
  display: grid;
  grid-template-columns: 4% 10% 10% 10% 12% 10% 10% 10% 12% 10%;
  grid-gap: 10px;
  align-items: center;
}

.currency {
  text-align:right;
}

.column { 
  width: 97%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px 2px;
  box-sizing: border-box;
}
