body {
  background: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body, #root, html { 
 width: 100%;
 height: 100vh;
 min-width: 1500px;
}
#root {
  overflow-y: auto;
}
.container { 
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.scroller { 
  z-index: 20;
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
}

.observed {
  height: 10px;
  width: 100%;
  margin-top: auto;
}

.items {
  display: grid;
  box-sizing:border-box;
  padding: 10px;
  grid-template-columns: auto auto auto auto auto;
  height: 50px;
  width: 100%;
}